# Ignore all files in private_tracks
private_tracks/*
!private_tracks/.gitkeep

# Environment variables
.env

# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/

# OS files
.DS_Store
Thumbs.db